{$SITE_ADDRESS::80} {
	@www host www.mycompanion.pet
	redir @www https://mycompanion.pet{uri} permanent

	handle_path /api/* {
		reverse_proxy backend:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	encode gzip zstd

	header /assets/* Cache-Control "public, max-age=31536000, immutable"
	header Strict-Transport-Security "max-age=31536000; includeSubDomains"
}